$blue: #062F4F;
$red: #B82601;
$purple: #813772;
$otherpurple: #440337;
$fontColor: white;
$background: rgba(123, 117, 112,0.7);
$lightred: rgba(184,38,1,0.3);

.skillsheader{
    width: 80%;
    // border: 1px solid white;
    text-align: center;
    padding: 15px;
    background-color: $red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
}

.skillsdetails{
    @extend .aboutheader;
    background-color: $lightred;
    height: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon{
    display: flex;
    width: 100px;
    flex-direction: column;
}